$theme-colors: (
  "primary": #FB2968
);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/forms";

:root {
    --back-color: #f9f9f9;
    --heading-color: rgba(0,0,0, .85);
    --text-color: rgba(0,0,0, .65);
    --pichi-pink: #FB2968;
    --pichi-blue: #1BADF8;
    --pichi-green: #63DA38;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background: var(--back-color);
    color: var(--text-color);
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-font-smoothing: subpixel-antialiased;
    font-smoothing: subpixel-antialiased;
}

h1 { 
    font-size: 2.5rem;
    font-weight: 800; 
    color: var(--heading-color);
    line-height: 1.1;
}

h2 {
    font-size: 1.7rem;
    font-weight: 800;
    color: var(--heading-color);    
}

// Used in homepage header
.size {
    font-size: 4.5rem;
}

// h1:after {
//     content: "";
//     display: inline-block;
//     width: 66px;
//     height: 56px;
//     background: url(../resources/down-arrow.png);
//     background-repeat: no-repeat;
//     background-size: 66px;
//     margin-left: -20px;
//     margin-bottom: -10px;
//     margin-right: -50px;
// }

// .intro {
//     background: url("../resources/down-arrow.png");
// }

p.pitch {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: .012em
}

.header-logotype {
    font-size: 1.3rem;
}

.logo {
    width: 39px;
    margin-right: 8px;
}

.hi-one {
    color: var(--pichi-pink);
}

.hi-two {
    color: var(--pichi-blue);
}

.hi-three {
    color: var(--pichi-green);
}

.btn {
    // text-transform: uppercase;
    font-weight: 600;
}

.header .btn {
    font-size: .7rem;
}

@media (prefers-dark-interface) { 
    :root {
        --back-color: #1E1F21;
        --heading-color: rgba(255,255,254, 1);
        --text-color: rgba(255,255,254, .85);
    }
 }